/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box; /*Esto asegura que el relleno y el borde estén incluidos en el ancho y alto total de la caja html.*/
}

.contenedor{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
}

.fila{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	/*Las columnas dentro de una fila están flotando a la izquierda, y por lo tanto se toman fuera del flujo de la página, y otros elementos serán colocados como si no fueran de las columnas. Para evitar esto, vamos a añadir un estilo que despeja el flujo*/
	clear:both;
	display:table;
}

[class*="col-"]{
	float:left;
	border:1px solid black;
	padding:20px;
}

/*El total de columnas es 12, para saber el tamaño de las otras 11 debemos hacer una regla de 3: n*100 / 12 */
.col-12{width:100%;}

.col-11{width:91.66666667%;}

.col-10{width:83.33333333%;}

.col-9{width:75%;}

.col-8{width:66.66666667%;}

.col-7{width:58.33333333%;}

.col-6{width:50%;}

.col-5{width:41.66666667%;}

.col-4{width: 33.33333333%;}

.col-3{width: 25%;}

.col-2 {width: 16.66666667%;}

.col-1 {width: 8.33333333%;}


