/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    
}

/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1000px;
    margin: 1em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    border-radius: 25px;
    background: #fff;
    padding: 0px 0px 0px 0px;
    border: 0px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    border-radius: 25px;
    background: #d9d9d9;
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
    color: #ffffff
}

.content .article h1,
.content .article a {
    padding: 3px;
    color: #385C85;
    text-decoration:none;
    font-style: oblique; 
}
.content .article h2{
    padding: 3px;
    color: #385C85;
    text-decoration:none;
    font-style: oblique; 
}

.content .article p{
    padding: 3px;
    color: #0d0d0d;
    text-decoration:none;
    font-style: oblique; 
}


.container>.sidebar{
    border-radius: 25px;
    grid-column: span 2;
    grid-row: span 4;
    background: #385C85;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    padding: 4px 0px 4px 35px;

}

.content .sidebar h3{
    color: #385C85;
    text-decoration:none;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;



}
 .container .sidebar a {

text-decoration:none;
padding: 4px;
color: #ffffff;
font-style: oblique; 
text-decoration-line: underline;

}
 .container .sidebar p,.container .sidebar h3 {

text-decoration:none;
color: #ffffff;
font-style: oblique; 

}
.container .sidebar h1
{
    padding-left: -30px;
}
.container>.related-post {
    background: #ffffff;
    color: #ffffff;
    height: 180px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}

.Titu
{ 

}